<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application android:theme="@android:style/Theme.Material.Light" android:label="FCTV Clean Updater" android:allowBackup="false">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" android:mimeType="application/vnd.android.package-archive" />
                <data android:scheme="file" android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>
        </activity>
        <receiver android:name=".InstallResultReceiver" android:exported="false" />
    </application>
</manifest>
